/*.carousel-inner img {
      width: 100%;
      height: 30%;
  }*/

.carousel-inner{
    width:70%;
    margin:auto;
}
div.carousel-caption{
    transform: translateY(-50%);
    bottom:10%;
    top: 40%;
}
.images{
    width:100%;
}
.carousel-control-prev{
    background: gray;
}
.carousel-control-next{
    background: gray;
}