.card{
    width:100%;
    float:none;
    margin:10px auto 10px auto;
    padding:auto;
}
.card-size{
    width:300px;
    margin:10px 5px 5px 5px;
}

.row{
    padding:10px 10px 10px 10px;
}
/*.container{
    max-width:80%;
    margin:30px auto 30px auto;
    position:relative;
}*/
.btn-rounded{margin:2px auto}