<!--<!doctype html>
<html lang="ko">
    <head>
        <%include template/head%>
    </head>
    <header>
        <%if(user){%>
            <%include template/headerlogout%>
        <%}else{%>
            <%include template/headerlogin%>
        <%}%>
        <title>Add Bookmark</title>
    </header>
    <body>
        <div class="container">
            <h1>Add Bookmark</h1>
            <hr>
            <form method="post" enctype="multipart/form-data" action="/process/bookmarkadding">
                <div>
                    <input type="input" placeholder="폴더명"/><a href="/process/createfolder"><button>폴더 생성</button></a>
                    <hr>
                    <table class="table table-striped" align="center">
                        <tr>
                            <th>사이트 주소</th><th>명칭</th><th>대표 이미지</th>
                        </tr>
                        <tr>
                            <td><input type="input" name="bookmarkUrl" placeholder="Site URL"/></td>
                            <td><input type="input" name="bookmarkName" placeholder="Site Name"/></td>
                            <td>
                            <div class="fileBox">
                                <!--<input type="text" class="fileName" readonly="readonly" id="uploadInput" required placeholder="Site Image">
                                <label for="uploadBtn" class="btn btn-secondary">이미지 찾아보기</label>
                                <input type="file" id="uploadBtn" class="uploadBtn" name="bookmarkImg" >
                            </div>
                            </td>
                        </tr>
                    </table>
                    <input class="btn btn-info" id="btn-view" type="submit" value="추가" name="submit"/> 
                </div>
            </form>
            <hr>
            <a href="/process/siteview"><button class="btn btn-secondary" id="btn-view">조회</button></a>
        </div>
            <footer>
            <%include template/footer%>
        </footer>
    </body>
</html>-->