<!DOCTYPE html>
<html lang="ko">
    <head>
        <%include template/head%>
    </head>
    <header>
        <%if(user){%>
            <%include template/headerlogout%>
        <%}else{%>
            <%include template/headerlogin%>
        <%}%>
        <title>즐겨찾기 추가 홈</title>
    </header>
    <body>
        <div class="jumbotron">
            <h1>즐겨찾기 추가</h1>
            <p>즐겨찾기 사이트 간략 소개</p>
            <a href="hi">sdfsdf</a>
            <a href="/process/about"><button class="btn btn-primary">about</button></a>
            <a href="/process/navtest"><button class="btn btn-primary">네비</button></a>
        </div>
            <%include template/footer%>
    </body>
</html>