<!--<!doctype html>
<html lang="ko">
    <head>
        <%include template/head%>
        <link type="text/css" rel="stylesheet" href="/css/mysite.css">
        <link type="text/css" rel="stylesheet" href="/css/modal.css">
    </head>
    <header>
        <%if(user){%>
            <%include template/headerlogout%>
        <%}else{%>
            <%include template/headerlogin%>
        <%}%>
        <title>My Sites</title>
    </header>
    <body>
        <div class="container">
            <h1>My Sites</h1>
            <hr>
            <div>
                <form action="/process/remove" method="get">
                    <input type="text" placeholder="삭제할 즐겨찾기 이름" name="deletesite">
                    <button class="btn btn-secondary" type="submit">삭제</button>
                </form>      
            </div>     
            <div class="row">
            <%for(var i=0;i<[results.length]||i<results.length;i++){%>
                <div class="col-sm-4" style="background-color:lavender;">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><%=results[i].bmname%></h4>
                        <p class="card-text">여기에 사용자가 작성한 "사이트에 대한 설명"이 들어감</p>
                        <a href="<%=results[i].bmurl%>" class="btn btn-primary btn-rounded" id="">사이트로 이동</a>                        
                        <!-- Modal 
                        <%include modal%>
                        <a href="/process/update" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#adjustModalForm" id="<%=results[i].bmname%>">수정</a>
                    </div>
                <img class="card-img-bottom" src="../<%=results[i].bmimage%>" alt="Card image" style="width:100%">
                </div>
                </div>
            <%}%>
            </div>
        </div>
        <footer>
            <%include template/footer%>
        </footer>
    </body>
</html>-->