<footer class="footer-distributed">
    <div class="footer-left">
        <h3><span>King</span> of <span>sites</span></h3>
        <p class="footer-links">
            <a href="#">Home</a>
            ·
            <a href="#">추천 사이트</a>
            ·
            <a href="#">About</a>
            ·
            <a href="#">How to use</a>
        </p>
        <p class="footer-company-name">King of Sites © 2018</p>
    </div>
    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Yeon-su</span> Incheon, South Korea</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>010 0000 0000</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">support@company.com</a></p>
        </div>

    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>이미지와 함께 즐겨찾기를 추가하세요.</span>
            <span>분야별 유용한 사이트를 발견하세요.</span>
        </p>
        <div class="footer-icons">
            <a href="#"><i class="fa fa-github"></i></a>
        </div>
    </div>
</footer>