<!DOCTYPE html>
<html lang="ko">
<head>
    <%include forheader%>
    <script type="text/javascript">
    $(window).on('scroll',function(){
        if($(window).scrollTop()){
            $('nav').addClass('black');
        }else{
            $('nav').removeClass('black');
        }
    })
    </script>
</head>
<body>
    <div class="wrapper">
        <a href="/logout" class="btn btn-primary" id="loginbtn">로그아웃</a>
        <nav>
            <div class="logo"><a href="/">즐겨찾기</a></div>
            <ul>
                <li><a href="/process/mainbookmark" class="fornav">Main</a></li>
                <li class="dropdown">
                    <a href="/process/recsites" class="recsites">추천 사이트</a>
                    <div class="dropdown-content">
                        <a href="/process/sites?category=getjob">취업</a>
                        <a href="/process/sites?category=restaurant">맛집</a>
                        <a href="/process/sites?category=travel">여행</a>
                        <a href="/process/sites?category=stay">숙박</a>
                        <a href="/process/sites?category=sports">운동</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">...</a>
                    <div class="dropdown-content">
                    <a href="/process/about">About</a>
                    <a href="/process/howto">How to use</a>
                    </div>
                </li>
            </ul>
        </nav>
        <section class="sec1"></section>
    </div>
</body>
</html>
