<div class="container2">
  <a href="/process/sites?category=getjob">
  <img src="/uploads/tesla.PNG" alt="Snow" class="category">
  <div class="top-left">Top Left</div>
  <div class="centered">취업</div>
  </a>
</div>
<div class="container2">
 <a href="/process/sites?category=restaurant">
  <img src="/uploads/tesla.PNG" alt="Snow" class="category">
  <div class="top-left">Top Left</div>
  <div class="centered">맛집</div>
  </a>
</div>
<div class="container2">
  <a href="/process/sites?category=travel">
  <img src="/uploads/tesla.PNG" alt="Snow" class="category">
  <div class="top-left">Top Left</div>
  <div class="centered">여행</div>
  </a>
</div>
<div class="container2">
  <a href="/process/sites?category=stay">
  <img src="/uploads/tesla.PNG" alt="Snow" class="category">
  <div class="top-left">Top Left</div>
  <div class="centered">숙박</div>
  </a>
</div>
<div class="container2">
  <a href="/process/sites?category=sports">
  <img src="/uploads/tesla.PNG" alt="Snow" class="category">
  <div class="top-left">Top Left</div>
  <div class="centered">운동</div>
  </a>
</div> 
